// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
background-color: orange;
text-align: center;
border-bottom: dotted 2px black;
color: white;

}
